<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrennCicle</title>
</head>
<body>
    <header>
        <img class="header_foto" src="greencyclelogo.png" alt="" />
        <a href="home.html" class="links">home</a>
        <a href="noticia.hmtl " class="links">notícia</a>
        <a href="contatp.hmtl" class="links">contato</a>
        <a href="login.html" class="links">login</a>
    </header>
  
  <div class="box">
    <a href="home.html"><img class="back" src="back-button.png" alt=""></a>
    <p class="palavra">“A inovação em Greentech é a chave para um futuro sustentável.”! </p>
  </div>  
  <img class="imagem1" src="Greentech.jpg" alt="" />
  <div class="tamanho">
<p>As GreenTechs são empresas de tecnologia que focam na sustentabilidade. Elas estão sendo impulsionadas pela pressão de governos, organismos internacionais e consumidores, além da necessidade de salvar o planeta.</p>
<p>Essas empresas, muitas vezes startups, buscam solucionar problemas ambientais através de seus negócios. O Brasil, com sua biodiversidade e força do agronegócio, tem potencial para se destacar neste mercado.</p>
<div class="mini-bloco">
    <h4 class="letra">Sistemas de energia inteligente</h4></div>
    <p>Para produzirmos energia, precisamos usar algum recurso da natureza — seja um combustível fóssil como o petróleo, a força da água, o vento ou a luz. Contudo, infelizmente, as alternativas mais limpas e seguras ainda não são tão eficientes quanto os métodos tradicionais. Se usarmos o exemplos de usinas solares e eólicas, devemos considerar que a produção varia bastante. Então, por que não criar maneiras mais ativas de gerar eletricidade?</p>
    <p>Como nem sempre a vento, é possível virar as turbinas e pás para a direção da qual vem o fluxo. Além disso, como não são todos os momentos do dia em que temos a luz do sol, inclinar os painéis para o ângulo mais adequado conforme a hora e a previsão do tempo também é uma opção.</p>
    <p>Já a projetos de dessas usinas e de outras fontes renováveis que estão usando Big Data para lidar com o enorme volume de dados de condições (principalmente meteorológicas) locais e encontrar as melhores maneiras de intensificar a geração de energia.</p>
    <div class="mini-bloco">
    <h4 class="letra">Datacenters com eficiência energética</h4>
</div>
A cloud computing está presente na maior parte dos serviços que utilizamos na web e provavelmente continuará tendo um papel importante para as soluções digitais.  Então, é natural que empresas especializadas em soluções na nuvem construam mais datacenters para abrigar mais servidores.
</div>
<footer class="final">
    <a href="https://play.google.com/store/games?device=windows&&utm_source=latam_Med&utm_medium=hasem&utm_content=Dec1622&utm_campaign=Evergreen&pcampaignid=MKT-EDR-latam-br-1000189-Med-hasem-py-Evergreen-Dec1622-Text_Search_BKWS-id_102355_%7CEXA%7CONSEM_kwid_43700074755585164&gclid=EAIaIQobChMIpOTwga6AggMVRQutBh2LtgVLEAAYASAAEgKX6_D_BwE&gclsrc=aw.ds"> <img class="img_final2" src="play.png" alt="" /></a>
    <p class="paragrafo_final2">© Copyright, ITB Belval - 2023</p>
</footer>
</html>